<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Uno
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel1.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Dos
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel2.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Tres
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel3.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Cuatro
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel4.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Cinco
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel5.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Seis
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel6.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Siete
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel7.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Nivel Ocho
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Nivel8.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Final
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/Fin.wav" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
  <div>
    <a
      href="#"
      class="block max-w-sm p-6 border rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white"
      >
        Fondo Musical
      </h5>
      <audio controls class="w-full h-70 object-cover rounded-lg">
        <source src="/audios/fondo.mp3" type="audio/mpeg" />
        Tu navegador no soporta la etiqueta de audio.
      </audio>
    </a>
  </div>
</div>

