<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div>
        <img class="w-full h-70 object-cover rounded-lg" src="/imgs/galeria/image.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-70 object-cover rounded-lg" src="/imgs/galeria/image-1.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-70 object-cover rounded-lg" src="/imgs/galeria/image-2.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-full  rounded-lg" src="/imgs/galeria/image-3.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-full rounded-lg" src="/imgs/galeria/image-4.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-70 object-cover rounded-lg" src="/imgs/galeria/image-5.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-70 object-cover rounded-lg" src="/imgs/galeria/image-6.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-full rounded-lg" src="/imgs/galeria/image-7.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-full rounded-lg" src="/imgs/galeria/image-8.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-70 object-cover rounded-lg" src="/imgs/galeria/image-9.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-full rounded-lg" src="/imgs/galeria/image-10.jpg" alt="">
    </div>
</div>
   
